@page
@model ManagementSystem.Web.Pages.HumanResource.UserProfile.CreateModel

@{
    ViewData["Title"] = "Create";
}

@section Styles
    {
    <style>
        body {
            padding-top: 4em;
        }
    </style>
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">New Profile</h4>
                        <p class="card-category">Information of new employee</p>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="ApplicationUser.FirstName" class="control-label"></label>
                                        <input asp-for="ApplicationUser.FirstName" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="ApplicationUser.LastName" class="control-label"></label>
                                        <input asp-for="ApplicationUser.LastName" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="ApplicationUser.IdentityCard" class="control-label"></label>
                                        <input asp-for="ApplicationUser.IdentityCard" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.IdentityCard" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label asp-for="ApplicationUser.YearOfBirth" class="control-label"></label>
                                        <input asp-for="ApplicationUser.YearOfBirth" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.YearOfBirth" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="ApplicationUser.IsLady" /> @Html.DisplayNameFor(model => model.ApplicationUser.IsLady)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label asp-for="ApplicationUser.Address" class="control-label"></label>
                                        <input asp-for="ApplicationUser.Address" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="ApplicationUser.PhoneNumber" class="control-label"></label>
                                        <input asp-for="ApplicationUser.PhoneNumber" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="ApplicationUser.BaseSalary" class="control-label"></label>
                                        <input asp-for="ApplicationUser.BaseSalary" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.BaseSalary" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label asp-for="ApplicationUser.JobPosition" class="control-label"></label>
                                        <select asp-for="ApplicationUser.JobPositionId" class="form-control" asp-items="ViewBag.JobPosition"></select>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" value="Create" class="btn btn-primary pull-right">Create</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile">
                    <p></p>
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="~/img/marc.jpg">
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">Alec Thompson</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
