@page
@model ManagementSystem.Web.Pages.Finance.IndexModel
@{
    ViewData["Title"] = "Index";
}

@section Styles
    {
    <style>
        body {
            padding-top: 4em;
        }
    </style>
}

<h2>Index</h2>

