@page
@model ManagementSystem.Web.Pages.Finance.IndexModel
@{
    ViewData["Title"] = "Index";
}

@section Styles
    {
    <style>
        body {
            padding-top: 4em;
        }
    </style>
}

    <div class="row container">
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <div class="d-flex justify-content-between">
                        <div class="col">
                            <h4 class="card-title">Operation costs</h4>
                            <p class="card-category">Latest cost on May 1, 2018</p>
                        </div>
                        <div class="align-self-center"><a href="~/Finance/OperationCost" class="btn btn-orange">More detail</a></div>
                    </div>             
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Salary</th>
                                <th>Country</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Dakota Rice</td>
                                <td>$36,738</td>
                                <td>Niger</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Minerva Hooper</td>
                                <td>$23,789</td>
                                <td>Curaçao</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Sage Rodriguez</td>
                                <td>$56,142</td>
                                <td>Netherlands</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Philip Chaney</td>
                                <td>$38,735</td>
                                <td>Korea, South</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="dailySalesChart"><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-line" style="width: 100%; height: 100%;"><g class="ct-grids"><line x1="40" x2="40" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="54.854910714285715" x2="54.854910714285715" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="69.70982142857143" x2="69.70982142857143" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="84.56473214285714" x2="84.56473214285714" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="99.41964285714286" x2="99.41964285714286" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="114.27455357142857" x2="114.27455357142857" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line x1="129.12946428571428" x2="129.12946428571428" y1="0" y2="120" class="ct-grid ct-horizontal"></line><line y1="120" y2="120" x1="40" x2="143.984375" class="ct-grid ct-vertical"></line><line y1="96" y2="96" x1="40" x2="143.984375" class="ct-grid ct-vertical"></line><line y1="72" y2="72" x1="40" x2="143.984375" class="ct-grid ct-vertical"></line><line y1="48" y2="48" x1="40" x2="143.984375" class="ct-grid ct-vertical"></line><line y1="24" y2="24" x1="40" x2="143.984375" class="ct-grid ct-vertical"></line><line y1="0" y2="0" x1="40" x2="143.984375" class="ct-grid ct-vertical"></line></g><g><g class="ct-series ct-series-a"><path d="M40,91.2C54.855,79.2,54.855,79.2,54.855,79.2C69.71,103.2,69.71,103.2,69.71,103.2C84.565,79.2,84.565,79.2,84.565,79.2C99.42,64.8,99.42,64.8,99.42,64.8C114.275,76.8,114.275,76.8,114.275,76.8C129.129,28.8,129.129,28.8,129.129,28.8" class="ct-line"></path><line x1="40" y1="91.2" x2="40.01" y2="91.2" class="ct-point" ct:value="12"></line><line x1="54.854910714285715" y1="79.2" x2="54.86491071428571" y2="79.2" class="ct-point" ct:value="17"></line><line x1="69.70982142857143" y1="103.2" x2="69.71982142857144" y2="103.2" class="ct-point" ct:value="7"></line><line x1="84.56473214285714" y1="79.2" x2="84.57473214285714" y2="79.2" class="ct-point" ct:value="17"></line><line x1="99.41964285714286" y1="64.8" x2="99.42964285714287" y2="64.8" class="ct-point" ct:value="23"></line><line x1="114.27455357142857" y1="76.8" x2="114.28455357142857" y2="76.8" class="ct-point" ct:value="18"></line><line x1="129.12946428571428" y1="28.799999999999997" x2="129.13946428571427" y2="28.799999999999997" class="ct-point" ct:value="38"></line></g></g><g class="ct-labels"><foreignObject style="overflow: visible;" x="40" y="125" width="14.854910714285714" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 15px; height: 20px;">M</span></foreignObject><foreignObject style="overflow: visible;" x="54.854910714285715" y="125" width="14.854910714285714" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 15px; height: 20px;">T</span></foreignObject><foreignObject style="overflow: visible;" x="69.70982142857143" y="125" width="14.854910714285712" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 15px; height: 20px;">W</span></foreignObject><foreignObject style="overflow: visible;" x="84.56473214285714" y="125" width="14.854910714285715" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 15px; height: 20px;">T</span></foreignObject><foreignObject style="overflow: visible;" x="99.41964285714286" y="125" width="14.854910714285715" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 15px; height: 20px;">F</span></foreignObject><foreignObject style="overflow: visible;" x="114.27455357142857" y="125" width="14.854910714285708" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 15px; height: 20px;">S</span></foreignObject><foreignObject style="overflow: visible;" x="129.12946428571428" y="125" width="30" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 30px; height: 20px;">S</span></foreignObject><foreignObject style="overflow: visible;" y="96" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 24px; width: 30px;">0</span></foreignObject><foreignObject style="overflow: visible;" y="72" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 24px; width: 30px;">10</span></foreignObject><foreignObject style="overflow: visible;" y="48" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 24px; width: 30px;">20</span></foreignObject><foreignObject style="overflow: visible;" y="24" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 24px; width: 30px;">30</span></foreignObject><foreignObject style="overflow: visible;" y="0" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 24px; width: 30px;">40</span></foreignObject><foreignObject style="overflow: visible;" y="-30" x="0" height="30" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 30px; width: 30px;">50</span></foreignObject></g></svg></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Daily Sales</h4>
                    <p class="card-category">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> updated 4 minutes ago
                    </div>
                </div>
            </div>
        </div>

    </div>
